@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    background:
        radial-gradient(circle at top left,#7f00ff,#000),
        radial-gradient(circle at bottom right,#00c6ff,#000);
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
}

/* Glass Card */
.card{
    width:100%;
    max-width:420px;
    padding:35px;
    border-radius:22px;
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(20px);
    box-shadow:
        0 0 0 1px rgba(255,255,255,0.15),
        0 30px 80px rgba(0,0,0,.7);
}


h1{
    text-align:center;
    font-size:26px;
    font-weight:600;
    margin-bottom:10px;
    letter-spacing:.5px;
}

.subtitle{
    text-align:center;
    font-size:13px;
    opacity:.75;
    margin-bottom:25px;
}

.form{
    display:flex;
    gap:12px;
}

input{
    flex:1;
    padding:14px;
    border-radius:14px;
    border:none;
    outline:none;
    background:rgba(255,255,255,0.18);
    color:#fff;
    font-size:14px;
    text-align:center;
}

input::placeholder{
    color:rgba(255,255,255,.6);
}

.generate{
    padding:14px 18px;
    border:none;
    border-radius:14px;
    background:linear-gradient(135deg,#00f2fe,#4facfe);
    color:#000;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.generate:hover{
    transform:scale(1.05);
    box-shadow:0 0 20px #00f2fe;
}

.output{
    margin-top:25px;
    padding:16px;
    border-radius:14px;
    background:rgba(0,0,0,.35);
    text-align:center;
    font-size:16px;
    font-weight:500;
    letter-spacing:1px;
    word-break:break-all;
    border:1px solid rgba(255,255,255,.15);
}

.actions{
    display:flex;
    gap:12px;
    margin-top:18px;
}

.action-btn{
    flex:1;
    padding:12px;
    border:none;
    border-radius:14px;
    font-weight:500;
    cursor:pointer;
    transition:.3s;
}

.copy{
    background:linear-gradient(135deg,#43e97b,#38f9d7);
    color:#000;
}

.regen{
    background:linear-gradient(135deg,#fa709a,#fee140);
    color:#000;
}

.action-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 0 20px rgba(255,255,255,.4);
}

.footer{
    margin-top:20px;
    font-size:12px;
    text-align:center;
    opacity:.65;
}
